global_defs {
    enable_script_security
    script_user root
}

vrrp_script check_alive {
    script "/container/service/keepalived/assets/check_tcp.sh"
    interval 1
    fall 2
    rise 3
}

vrrp_instance keepalived_vip {
{% if groups['master'] is defined and ansible_default_ipv4.address in groups['master'] %}
    state MASTER
    priority 100
{% elif groups['backup'] is defined and ansible_default_ipv4.address in groups['backup'] %}
    state BACKUP
    priority {{ 100 - groups['backup'].index(ansible_default_ipv4.address) }}  # Decreasing priority for backups
{% else %}
    state {{ state | default('BACKUP') }}  # Default to BACKUP if not in any group
    priority 1  # Default priority for other hosts
{% endif %}
    nopreempt
    interface {{ interface_name }}
    virtual_router_id 123
    advert_int 1
    virtual_ipaddress {
        {{ vip_ip }} dev {{ interface_name }}
    }
    track_interface {
        {{ interface_name }}
    }
    authentication {
        auth_type PASS
        auth_pass LNzwcrkTxqHUnduQ76wLiJ8G
    }
    track_script {
        check_alive
    }
}

